div.box {
  border: 1px #888 solid;
  width: 48px;
  height: 48px;
  background-color: white;
  position: absolute;
  transition-property : top, left;
  transition-duration : 2s;
  transition-timing-function : cubic-bezier(.70,-0.40,.30,1.40);
}

ul {
  margin: 0 auto;
  width: 640px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display:block;
  float:left;
  width: 128px;
}

li a {
  padding: .2em 0em;
  border: 1px #888 solid;
  color: #fff;
  vertical-align: middle;
  display: block;
  text-decoration : none;
}

a:link, a:visited {
  background: white;
  color: #444;
}

a:hover, a:active {
  background: #eee;
  color: #444;
}

